# compiled output
dist/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# Dependency directories
node_modules/
package-lock.json

# System Files
.DS_Store
Thumbs.db
npm-debug.log

# configuration Files
.eslintrc.json
*.pyc

# # annotation files
# annotations/*.json

*img.pt
/applications/GNN4VIS/Code for training models and ploting results/data/

# OpenAI Batch API files
batch_input.jsonl
**/batch_input.jsonl

# Exclude annotations_w_data directory
annotations_w_data/