* {
  box-sizing: border-box;
}

body {
  font: normal 15px/20px Arial, serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  /* background-image: -moz-linear-gradient(90deg, #e0e0e0, #fff);
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #e0e0e0), color-stop(0.25, #fff));
        background-repeat: repeat-x; */
}

/* breadcrumb ui */
#nextButton {
  /* position: absolute;
    bottom: 20px;
    right: 100px; */
  width: 100px;
  height: 30px;
  background: #eee;
  border: #ccc 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  z-index: 999;
}
#prevButton {
  /* position: absolute;
    bottom: 20px;
    right: 100px; */
  width: 100px;
  height: 30px;
  background: #eee;
  border: #ccc 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 10px;
  z-index: 999;
}
#breadcrumb {
  position: absolute;
  left: calc(50% - 250px);
  width: 500px;
  height: 30px;
  font-weight: bold;
  margin: 10px 0;
  margin-left: 25px;
  margin-right: 25px;
}
.breadcrumb-item {
  margin-right: 3px;
  margin-left: 3px;
}
.current-section {
  font-weight: bold;
  background-color: #58a9ff;
  color: white;
  padding: 3px 3px;
  border-radius: 3px;
}

/* main container with all 3 columns */
#buttons {
  display: grid;
}

.a1 {
  font-size: 30px;
  font-weight: 500;
  color: #4f0599;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
  margin: 0px 50px 0px 0px;
  text-decoration: none;
}

.a2 {
  font-size: 25px;
  font-weight: 500;
  color: #553c9a;
  margin: 0px 50px 0px 0px;
  text-decoration: none;
}

.a2:hover {
  color: #896fd1;
  cursor: pointer;
}

#demoList {
  width: 240px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #f2f2f2;
  margin: 0;
  padding: 20px 5px 20px 25px;
  position: absolute;
  top: 60px;
  left: 0;
  list-style: none;
  font-size: 14px;
  overflow-y: scroll;
  height: calc(100%);
}
.category {
  margin: 15px 0 10px -7px;
  font-weight: bold;
}
.demos {
  margin-bottom: 10px;
  padding: 0px 15px 0 5px;
  list-style: none;
}
.demos li:hover {
  cursor: pointer;
}
.chartSublist li:hover {
  cursor: pointer;
  color: blue;
}

#annotationStages {
  position: absolute;
  width: calc(100% - 250px);
  right: 0px;
}

.mainbox {
  width: calc(100% - 250px);
  margin-left: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  right: 0px;
  height: 220px;
}

.pages {
  width: calc(98% - 0px);
  height: 45px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 15px;
  margin-top: 45px;
  /* border: #ccc 1px solid; */
}

#container {
  width: calc(100% - 250px);
  height: calc(100% - 300px);
  position: absolute;
  top: 40px;
  right: 0px;
  margin-left: 10px;
  margin-top: 15px;
  border: #ccc 1px solid;
}

.rbox1 {
  width: 55%;
  height: calc(100% - 20px);
  margin: 0 20px 20px;
  /* padding: 20px; */
}

.rbox2 {
  width: 55%;
  height: calc(100% - 20px);
  margin: 0 20px 20px;
  /* padding: 20px; */
}

.float-container {
  padding: 10px;
  width: 100%;
  border: #ccc 0px solid;
}

.labelButton {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  opacity: 0.85;
  /* background-color: #D7EBCC; */
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.labelButton:hover {
  opacity: 1;
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
}

.labelButton:active {
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
  transform: translateY(2px);
}

.xTitleButton,
.yTitleButton,
.titleLegendButton,
.chartTitleButton {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  opacity: 0.85;
  /* background-color: #D7EBCC; */
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#xTitle:empty::before {
  content: "Text element(s) for the X-axis title";
  color: lightgray;
}
#yTitle:empty::before {
  content: "Text element(s) for the Y-axis title";
  color: lightgray;
}
#legendTitle:empty::before {
  content: "Text element(s) for the legend title";
  color: lightgray;
}
#chartTitle:empty::before {
  content: "Text element(s) for the chart title";
  color: lightgray;
}
#xLabels:empty::before {
  content: "Text element(s) for the X-axis labels";
  color: lightgray;
}
#yLabels:empty::before {
  content: "Text element(s) for the Y-axis labels";
  color: lightgray;
}
#legendLabels:empty::before {
  content: "Text element(s) for the legend labels";
  color: lightgray;
}

.xTitleButton:hover {
  opacity: 1;
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
}

.chartTitleButton:hover {
  opacity: 1;
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
}

.yTitleButton:hover {
  opacity: 1;
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
}

.titleLegendButton:hover {
  opacity: 1;
  /* background-color: #3e8e41; */
  background-color: #333;
  color: #fff;
}

.div4text {
  text-align: center;
  cursor: pointer;
  background-color: #d7ebcc;
}

.div4td {
  background: #c0c0c0;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(255, 255, 255);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  min-height: 28px;
}

div.tooltip2 {
  position: absolute;
  text-align: center;
  width: 280px;
  padding: 2px;
  font: 14.5px sans-serif;
  background: rgb(255, 255, 255);
  border: 0px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  align-items: center;
  justify-content: center;
}

td {
  cursor: grab;
  padding: 5px;
  border-bottom: #eee 1px solid;
  text-align: center;
}

td:hover {
  background-color: #eee;
}

/* #preprocessUI select option:disabled {
        display:none;
    } */

.chartTitle {
  border: #bbb 1px solid;
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  margin-right: 10px;
}

.axisDiv {
  width: 100%;
  height: 65px;
  border: #ddd 0px solid;
}
.axisMeta {
  width: 110px;
  border: #ddd 0px solid;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 10px;
}
.axisTitle {
  width: 250px;
  border: #bbb 1px solid;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
  margin-right: 10px;
}
.axisLabels {
  /* width: calc(100% - 140px); */
  width: calc(100% - 405px);
  border: #bbb 1px solid;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  overflow: scroll;
  overflow: -moz-scrollbars-vertical;
}
.fieldType {
  margin-left: 0px;
  border: #ddd 1px solid;
  background: #f2f2f2;
}

#preprocessUI select option {
  background: #f2f2f2;
}
.selectAreaBtn {
  background: #eee;
  margin-left: 15px;
  margin-bottom: -2px;
}

#refChart {
  width: 500px;
  height: 400px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  margin-left: 0px;
  border: #ccc 1px solid;
  background-color: white;
}
#preview {
  width: calc(98% - 300px);
  height: calc(98% - 450px);
  position: absolute;
  top: 0px;
  left: 300px;
  margin-left: 5px;
  margin-top: 35px;
  border: #ccc 0px solid;
}

.layerView {
  position: absolute;
  right: 0;
  top: 40px;
  width: 260px;
  height: 300px;
  /* background: #F7F7F7; */
  overflow: hidden;
  font-size: 12px;
}

.layerRow {
  fill: #f2f2f2;
  /* cursor: pointer; */
}

/* .layerRow:hover {
        fill: white;
    } */

.layerSelected {
  fill: white;
}

.layerIcon {
  width: 15px;
  height: 15px;
  pointer-events: none;
}

.layerText {
  text-anchor: start;
  pointer-events: none;
}
#dialog {
  position: absolute;
  bottom: 300px;
  left: 520px;
  width: calc(100% - 520px);
  min-width: calc(100% - 522px);
  height: 100px;
  border-top: #ccc 1px solid;
  background-color: #fff;
  padding: 5px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
span {
  display: inline-block;
  vertical-align: middle;
}
#saveButton {
  cursor: pointer;
}
#loadButton {
  position: absolute;
  bottom: 20px;
  right: 100px;
  width: 100px;
  height: 30px;
  background: #eee;
  border: #ccc 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
}
#alertBox {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20%;
  padding: 2px 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.textbox {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

/* div.markDiv {
    display: "inline-block";
    width: "fit-content";
    height: "fit-content";
    border: "1px solid #000";
  } */

.pop-out-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.inline-container {
  display: inline-block;
  vertical-align: middle; /* Align the container to the bottom of the line */
}

.inline-rectangle {
  display: inline-block;
  vertical-align: middle; /* Align the rectangle to the bottom of the line */
  width: 1em; /* Set the width as needed */
  height: 1em; /* Set the height as needed */
  margin-right: 5px; /* Adjust spacing as needed */
}

.foldable {
  cursor: pointer;
  user-select: none;
}

.foldable ul {
  list-style-type: none; /* This removes the bullet points */
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.selected {
  background-color: #4caf50; /* Green */
}
