.content{
    margin: 10px;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.search-chip {
    display: inline-flex;
    padding: 0 12.5px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 12.5px;
    background-color: #f1f1f1;
  }
  